@if (visible() && achievement()) {
  <div class="achievement-overlay" [class]="'rarity-' + achievement()!.rarity">
    <div class="achievement-toast">
      <div class="achievement-icon">{{ achievement()!.icon }}</div>
      <div class="achievement-content">
        <div class="achievement-label">Achievement Unlocked!</div>
        <div class="achievement-name">{{ achievement()!.name }}</div>
        <div class="achievement-desc">{{ achievement()!.description }}</div>
      </div>
      @if (achievement()!.xpBonus > 0) {
        <div class="achievement-bonus">+{{ achievement()!.xpBonus }}&nbsp;XP</div>
      }
    </div>
  </div>
}
